*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor

# Excluir documentación interna/no publicable
/docs/errores/
/docs/imagenes/
/docs/resumen/
Homestead.json
Homestead.yaml
Thumbs.db

